#myCarousel.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#myCarousel', data-slide-to='0')
    li(data-target='#myCarousel', data-slide-to='1')
    li(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner
    .item.active
      img(src='img/hedge_trimmer.jpg')
      .container
        .carousel-caption
          h1 Affordable. Reliable. Lawncare.
          p.
            You can rely on us to get you the best lawncare at the best price.
          p
            a.btn.btn-lg.btn-warning(href='#estimate', role='button') Schedule an Estimate!
    .item
      img(src='img/lawn_mower.jpg')
      .container
        .carousel-caption
          h1 Serving Springfield for 20 Years
          p.
            At Lawn Service, we stake our business on customer service. 
          p
            a.btn.btn-lg.btn-primary(href='#testimonials', role='button') What Our Customers Say
    .item
      img(src='img/grass.jpg')
      .container
        .carousel-caption
          h1 Grass Is Our Business
          p.
            We'll take care of it, so you can take care of yours.
          p
            a.btn.btn-lg.btn-default(href='#team', role='button') Meet Our Team
  a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right