extends ./layout.jade

block css
  link(rel='stylesheet', href='carousel.css')

block nav
  .navbar-wrapper
    .container
      include ./nav.jade

block content
    include ./carousel.jade
    .container-fluid.marketing
      include ./team.jade
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            a(name='services') Full Service Lawncare. 
            span.text-muted On your schedule.
          p.lead.
            We offer a wide variety of lawncare services, and we work to fit your schedule.
          p
            | Services include:
            .row
              .col-md-6.hidden-xs.hidden-sm
                ul
                  li Mowing & Bagging
                  li String Trimming/Weed Whacking
                  li Edging
              .col-md-6.hidden-xs.hidden-sm
                ul
                  li Fertilization
                  li Herbicide/Weed Removal
                  li Hedge and Bush Trimming
              ul.visible-xs.visible-sm
                li Mowing & Bagging
                li String Trimming/Weed Whacking
                li Edging
                li Fertilization
                li Herbicide/Weed Removal
                li Hedge and Bush Trimming
        .col-md-5.hidden-xs.hidden-sm
          #servicesImage.featurette-image
            div &nbsp;
      hr.featurette-divider
      .row.featurette
        .col-md-5.hidden-xs.hidden-sm
          #testimonialsImage.featurette-image-reverse.featurette-image
            div &nbsp;
        .col-md-7
          h2.featurette-heading
            a(name='testimonials') Our customers love us. 
            span.text-muted See for yourself.
          p
            blockquote
              p I've struggled with other providers for years - they've been overpriced, always late, and my yard looked awful. Now that I have Lawn Service, I'm enjoying the best customer service I've ever received.
              footer Ron Davis
            blockquote.blockquote-reverse
              p My friends, family, and neighbors constantly ask how I get my lawn looking so great.
              footer David White
            blockquote
              p Since switching to Lawn Service, I don't even have to think about my lawn. They take care of everything!
              footer Sarah Baker
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            a(name='estimate') Schedule your estimate today.
          form
            .form-group
              label First Name
              input#name.form-control(type='text', placeholder='John', required)
            .form-group
              label Phone
              input#phone.form-control(type='tel', placeholder='(555) 555-5555' required)
            .form-group
              label Street
              input#address1.form-control(type='text', placeholder='123 Main St', required)
              input#address2.form-control(type='text', placeholder='Apt. B')
            .form-group
              label Zip Code
              input#zip.form-control(type='text', placeholder='01234', required)
            .form-group
              label What dates and times work best for you?
              br
              em Unless you need to let us into your yard, you do not need to be present for the estimate. That's up to you.
              textarea#dates.form-control(placeholder='E.g., before noon on Monday or any time during the weekend.', required)
            .text-center
              button#schedule.btn.btn-lg.btn-primary(type='submit') Submit
        .col-md-5.hidden-xs.hidden-sm
          #estimateImage.featurette-image
            div &nbsp;
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | &copy; 2015 Lawn Service LLC &middot;