nav.navbar.navbar-default.navbar-static-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                each val in [1,2,3]
                    span.icon-bar
            a.navbar-brand(href='./') Grass Ninja
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='./') Home
                li
                    a(href='about') About Us
                li
                    p.navbar-btn
                        a.btn.btn-warning(href='estimate') Get an Estimate!
script(src='nav.js')