.row
    a(name='team') &nbsp;
    .col-lg-4
      img.img-circle(src='img/person1.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Richard Row
      p.
        Richard has run Lawn Service since its beginning in 2009. After retiring 
        from the construction industry, Richard started Lawn Service out of his own 
        frustration in finding qualified, reliable lawn service professionals.
    // /.col-lg-4
    .col-lg-4
      img.img-circle(src='img/person2.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Jane Doe
      p.
        Jane started with Lawn Service in 2011 and has become an invaluable 
        member of the organization through business development, marketing, 
        and management. 
      p.
        In her free time, Jane enjoys fishing and tropical 
        vacations.
    // /.col-lg-4
    .col-lg-4
      img.img-circle(src='img/person3.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 John Smith
      p.
        John joined Lawn Service in 2013 and has been a lawn service professional for over 15 years. 
        His experience and professionalism make him an invaluable asset to our field team. 
      p.
        John lives in Springfield with his wife and 2 children.